[report]
include =
    src/collective/*
omit =
    */test*
    */upgrades/*
    **/.buildout/eggs/*
    **/lib/python*
    **/usr/*
    **/bin/test
    **/buildout-cache/eggs/*
    **/eggs/*
    **/parts/*
