*.py[co]

# Packages
*.egg
*.egg-info
/dist
/build
/eggs
/parts
/bin
/var
/sdist
/develop-eggs
/local
/buildout-cache

# Installer logs
pip-log.txt
pip-selfcheck.json
geckodriver.log
log.html
report.html
output.xml

# Testing
/.coverage
/.tox
/htmlcov
/selenium

# Translations
*.mo

# editors
*.sublime*

# mr.developer
/.mr.developer.cfg
/.installed.cfg
/devsrc

# developement
develop.cfg
/.project
/.pydevproject
/.settings
.DS_Store
*.swp
/temp_resources
/node_modules
Gruntfile.js
package.json
package-lock.json
/share
/jupyternotebooks

# virtualenv
/include
/lib
/.Python
pyenv.cfg
