[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    base.cfg
    versions.cfg

# removed collective/buildout.plonetest/master/buildout-cache.cfg
# https://raw.githubusercontent.com/collective/buildout.plonetest/master/buildout-cache.cfg

# parts += download install test
parts += test

plone-series = 5.2
package-name = collective.playlist
package-extras = [test]
test-eggs =
