[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

extensions =
    mr.developer

parts +=
    test
    createcoverage

# TODO find-links
find-links +=
    http://dist.plone.org/release/5.2-latest/

package-name = plone.app.mosaic
package-extras = [test]

test-eggs =
auto-checkout =
sources-dir = ${:directory}/extras
