@linkcolor: #81b7e6;

* {
    box-sizing: border-box;
}
html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-color: #798a9e;
    background-image: url("background.jpg");
}
body {
    font-family: Arial,Verdana,sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42857143;
}

.clearfix {
    &+* {
        clear: both;
    }
}

a,
a:link,
a:visited,
a:hover {
    color: @linkcolor;
}

.container {
}


header {
    .clearfix;
    > * {
       float: left;
       padding-right: 2rem;
       margin: 1em 0;
       line-height: 3rem;
   }
}


.jp-audio {
    .jp-controls,
    .jp-progress .jp-seek-bar,
    .jp-volume-controls,
    .jp-toggles {
        background-color: #777;
        opacity: 0.85;
        filter: alpha(opacity=85);       
    }
    .jp-progress {
        background-color: #374F68;
        right: 160px;
    }
    .jp-time-holder {
      right: 170px;
    }
    .jp-toggles {
        position: absolute;
        top: 0;
        right: 80px;
        width: 80px;
        height: 100%;
        
        // background-color: #2C3E50;
        // padding: 0 10px;
        text-align: left;        
        a {
          text-decoration: none;
          font-size: 20px;
          padding-left: 12px;
          line-height: 42px;
          color: #ECF0F1;
          cursor: pointer;
          &:before {
            display: inline-block;
            font-family: flat-audio;
            font-style: normal;
            font-weight: 400;
            text-decoration: none;
            width: 80px;
            line-height: 42px;
            opacity: 1;
          }
          &:hover {
            color: #2980B9;
          }
        }
    }
    .jp-playlist {
        top: 3rem;
        background-color: #777;
        opacity: 0.85;
        filter: alpha(opacity=85);
        ul {
            li {
                margin-top: .7em;
                a {
                    font-size: 1.3rem;
                    line-height: 1.2;
                    &:focus {
                        outline: none;
                    }
                }
                &.jp-playlist-current a {
                            color: lighten(@linkcolor, 10%);
                        } 
            }

        }      
    }
}

// repeat is active
.jp-audio.jp-state-looped {
    .jp-toggles a.jp-repeat {
        color: #2980B9;
    }
}



// admin stuff
ul.admin_add_and_edit {
    list-style: none;
    padding-left: 40px;
}